:root {
    --font-family: "Lexend Deca";
    --primary-color: #5694419c;
    --secundary-color: #efefef;
    --black-color: #252525;
    --btn-font: 1em;
    --btn-weight: 600;
}


.register-container {
    margin: 1.5% auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.register-container img {
    border-radius: 15px;
    height: 70vh; /* Fixed height for the image */
}

body {
    padding: 0;
    outline: none;
    border: none;
    background-color: #f8f8ec;
}

.form-group {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2%;
    text-align: left;
}

#registro {
    background-color: #56944157;
    border-radius: 30px;
    width: 35%;
    padding: 30px;
    height: fit; /* Fixed height for the form */   
}

h1, h2, h3 {
    color: #333;
}

label, select, input, textarea {
    outline: none;
    border: none;
    width: 100%; /* Adjusted width for better responsiveness */
}

select, input[type="file"] {
    margin-top: 5%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    margin-top: 10%;
    background-color: #efefef;
    color: #252525;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 0.9em;
    font-weight: 500;
    border-radius: 15px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: var(--black-color);
    color: var(--secundary-color);
}

input[type="file"] {
    background-color: var(--secundary-color);
    border-radius: 10px;
}
#quantidade {
    padding: 5px;
    height: 5vh;
    margin-top: 5%;
}

footer {
    background-color: #dddddd;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1000;
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.popup p {
    margin-bottom: 10px;
}

.popup button {
    background-color: #569441;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
}

.popup button:hover {
    background-color: #3b6724;
}
