* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.registers{
    padding: 5%;
    margin: 0 auto;
    gap: 10%;
}


.registers li{
    margin: 2% auto;
    background-color: #bbbbbb62;
    width: fit;
    padding: 2%;
    border-radius: 15px;
}
